/*Limpar formatações padrao dos navegadores*/
* {
    margin: 0;
    padding: 0;
}
/****************************/
body {
    font-size: 1em; /*16px*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6
}

/***Formatação dos links***/
a {
    text-decoration: none;
}

a:link, a:visited { 
    padding: 10px;
    color: #FFF;
    font-weight: bold;
}

a:hover {
    color: #f7b600;
    background-color: #FFF;   
}

/*************************/

#cabecalho {
    border: 1px solid red;
    background-color: #f7b600;
    text-align: center;
    padding: 10px;
}

#logo, #area-menu {
    padding: 10px 0px;  
}

#area-principal {
    width: 920px;
    margin: 0 auto;   
}
/*ATENÇÃO: Valor área principal 920px...
Note que o valor width da area-postagens e area-lateral (660 + 240) = 900px. Sobra espaço entre os containeres 
*/

#area-postagens {  
    width: 660px;
    margin-top: 10px;
    float: left;
    background-color: white; 
    
}

#postagem {
    padding: 15px;
}
#post-date {
    font-size: 0.8em;
    display: block;
}

#area-lateral {
    width: 210px;
    float: right;
    border: red 1px solid;

}

#rodape {
    clear: both;
    text-align: center;
}

/***Demais formatações***/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color:white;
}

h2 {
    color:#f7b600;      
}


